body {
  margin: 0;
  font-family: "Trebuchet MS", sans-serif;
  background: linear-gradient(135deg, #e9d5ff, #d1fae5);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container { width: 350px; }
.card {
  background: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  animation: fadeIn 0.4s ease;
}
.hidden { display: none; }
input {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #d6d6d6;
}
button {
  width: 100%;
  padding: 12px;
  background: #a78bfa;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
}
button:hover { background: #8b5cf6; }
.link {
  margin-top: 10px;
  color: #6b21a8;
  cursor: pointer;
  text-align: center;
}
p { text-align: center; }
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}
